#background {
    position: fixed;
    inset: 0; /*PARA REDEFINIR OS EIXOS*/
    z-index: -1; /*ALTERAR POSIÇÃO DA CAMADA*/

    width: 100%;
    height: 100vh;

}

#background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#background::after{
    content: '';

    width:inherit;
    height: inherit;

    position: fixed;
    inset: 0;

    background: linear-gradient(109deg, rgba(10, 12, 16, 0.715) 15%, rgba(10, 12, 16, 0.485) 50%, rgba(10, 12, 16, 0.715) 85%);
}