@import url('background.css');
@import url('header.css');
@import url('main.css');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --text: #EDF1F7;
  --orange: #f55114;
  --blue: #4a60b6;
  --darkblue: #39386d;
}

body, button, a {
  color: var(--text);
  font: 400 1rem "VALORANT", sans-serif;
}

a {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

ul {
  list-style: none;
}

#aplicacao {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100vh;
  overflow-y: hidden;
}