main {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    max-width: 1200px;

    margin: 30px 150px;
}
/*
    COLOCAR IMAGEM DO LADO DO PARÁGRAFO E BOTÕES EMBAIXO ESTILO VALORANT
*/
.main_info {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: 500px;
}   

.agent_box {
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    gap: 30px;

    width: 100%;

    flex: 1;
}

.agent_box img{
    border: 3px solid grey;
    background: lightgrey;

}

.agent_info p{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 22px;

    margin: 0;


}

.links {
    display: flex;
    justify-content: center;
    
    width: 100%;
    margin-top: 30px;
    gap: 30px;

    transform: translateX(-10px);
}

.links a {
    position: relative;
    padding: 15px;

    background: var(--orange);
    border: 1.5px solid transparent;
   
}

.links a::after {
    position: absolute;
    content: '';
    
    border: 1.5px solid white;
    top: -4px;
    bottom: -4px;
    left: -4px;
    right: -4px;
}

.links a:hover {
    background: #ffffff;
    color: var(--orange);

    transition: 0.3s;
}

